:root {
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;

    font-family: var(--md-sys-typescale-body-medium-font-family-name);

    --background-blur-value: 25px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    overscroll-behavior-x: none;
    scrollbar-gutter: stable;
}
html {overflow-x: hidden}
html.lenis {height: auto; scroll-behavior: auto;}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}


::-webkit-scrollbar {width: 4px;}
::-webkit-scrollbar-thumb {background-color: var(--md-sys-color-secondary); border-radius: 10px;}
::selection {background: var(--md-sys-color-primary); color: var(--md-sys-color-on-primary)}

.column-text-outer {overflow: hidden}
.card {border-radius: 36px;}
.filler {flex: auto}

.column-text-in {
    translate: 0 100%;
    animation: column-text-in var(--md-sys-motion-duration-long4) 0.25s var(--md-sys-motion-easing-emphasized-decelerate) forwards;
}

.navbar-filler {
    width: 108px;
    height: 100%;

    @media (max-width: 560px) {
        display: none;
    }
}

@keyframes fade-in {
    0% {opacity: 0}
    100% {opacity: 1}
}
@keyframes column-text-in {
    0% {translate: 0 100%}
    100% {translate: 0 0}
}